@import "../../assets/scss/variables/variables";
.wp-block-inxperts-gutenberg-blocks-inxperts-contactinfo{
    width: 100%;
}
.inxperts-contactInfo-wrapper{
    padding: 174px 146px 173px;
    .inxperts-contact-head{
        color: $white;
        font-size: 33px;
        line-height: 20px;
        font-weight: 500;
        margin: 0px 0px 56px;
    }
    .inxperts-contactInfo-lists{
        list-style: none;
        padding: 0px;
        margin: 0px;
        > .inxperts-contactIndo-list-item:not(:last-child){
            padding-bottom: 20px;
        }
        > .inxperts-contactIndo-list-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > div{
                font-size: 14px;
                line-height: 20px;                
            }
            > .item-head{
                color: $ligh-grey;
                max-width: 20%;
                width: 100%;
                text-transform: uppercase;
            }
            > .item-value{
                color: $white;
                max-width: calc(100% - 20%);
                width: 100%;
                font-weight: 500;
                > a{
                    color: $white;
                    text-decoration: none;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-md-large) {
    .inxperts-contactInfo-wrapper{
        padding-left: 2rem;
        padding-right: 2rem;
        .inxperts-contactInfo-lists{
            .inxperts-contactIndo-list-item{
                > .item-head{
                    max-width: 30%;
                }
                > .item-value{
                    max-width: 70%;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .inxperts-contactInfo-wrapper{
        .inxperts-contactInfo-lists{
            .inxperts-contactIndo-list-item{
                flex-direction: column;
                > .item-head{
                    max-width: 100%;
                }
                > .item-value{
                    max-width: 100%;
                }
            }
        }
    }
}