.btn-al-center{
    margin: 0px auto;
}
.btn-al-left{
    margin-right: auto;
}
.btn-al-right{
    margin-left: auto;
}
.btn-width-in{
    max-width: 318px!important;
}
.btn-width-25{
    max-width: 25%!important;
}
.btn-width-50{
    max-width: 50%!important;
}
.btn-width-75{
    max-width: 75%!important;
}
.btn-width-fl{
    max-width: 100%!important;
}
.igb-btn{
    width: 100%;
    padding: 23px 0px 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    font-size: 25px;
    line-height: 33px;
    display: inline-block;
}