$gray : #f5f5f5;
$primary : #F6790E;
$secondary : #343434;
$white : #ffffff;
$black : #141B20;
$dark-grey : #606C75;
$ligh-grey : #9E9E9E;
$pd-1: 0.625rem;
$pd-2: 1.25rem;
$pd-3: 1.875rem;
$pd-4: 2.5rem;
$breakpoint-xs: "460px";
$breakpoint-sm: "768px";
$breakpoint-md: "960px";
$breakpoint-md-large: "1024px";
$breakpoint-lg: "1120px";
$breakpoint-xl: "1920px";